/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
  background:
radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
background-color: skyblue;
background-size:75px 100px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


#pano {
  margin:auto;
  float: right;
  display: none;
  position:absolute;
  z-index:3;
  background-color:transparent;
  left:0;
  right:0;
  border-radius: 8px;
}

#pano .disableLink {
  position:absolute;
  z-index:1000;
  height: 30px;
  width: 80px;
}

#pano .close {
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
  position:absolute;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  z-index:1001;
}

#pano #hideFullscreen {
  background-color: transparent;
  position:absolute;
  z-index:1000;
}

#pano img#checkView{
  position:absolute;
  z-index:1000;
  cursor:pointer;
  opacity: 0.5;
}

#col_2 .close {
  width: 80px;
  height: 30px;
  background-color: blue;
}

#container {
}

#col_2 {
  margin: auto;
  background-color: green;
  z-index:0;
  position:absolute;
  left:0;
  right:0;
  border-radius: 8px;
  border:2px solid lightblue;
}

#logo {
  width: 215px;
  margin: 0px auto;
  cursor: pointer;
}

#footer {
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  padding: 15px;
  font-size:0.8em;
  text-align:center;
}

#footer a {
  text-decoration: none;
}

#footer ul li {
  display:inline;
  list-style-type: none;
  padding-right: 20px;
}

#gallery {
  display:none;
  z-index:2;
  background-color: transparent;
  position:absolute;
  margin: auto;
  float:right;
  left:0;
  right:0;
  border-radius: 8px;
}

#gallery div.cell {
  float:left;
  border: 3px solid lightblue;
  border-radius: 8px;
  cursor: pointer;
}

.cell .see:hover {
  float:left;
  background-image: url("../static/icons/view28.svg");
  background-size: cover;
  opacity: 0.5;
}

#gallery div.cell:hover {
  border: 3px solid gray;
}

#gallery div#close {
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
  position:absolute;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
}

#info, #contactText, #infoText {
  display: none;
  z-index: 2000;
  background-color: white;
  color: black;
  position:absolute;
  margin: auto;
  float:right;
  left:0;
  right:0;
  border-radius: 8px;
  overflow:scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

#iconsinfo {
  font-size: 0.6em;
}
